<!-- SPINNER ICON -->
<div class="spinner-container" *ngIf="isLoading">
  <div class="loader">Loading...</div>
</div>
<!-- START COMPONENT -->
<div class="component-container" *ngIf="!subscriptionSucceed">               
  <h2>Sign up for email updates</h2>
  <p class="subheadline">*Indicates Required Field</p>
  <!-- FORM INPUT -->
  <form  [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()">
    <!-- ERROR MESSAGES ON INPUT -->
    <p class="error-message">      
      <ng-container *ngIf="(firstName.invalid && firstName.touched)">
        First name is required.
      </ng-container>
      <ng-container *ngIf="(lastName.invalid && lastName.touched)">
        Valid last name is required.
      </ng-container>
      <ng-container *ngIf="(email.invalid && email.touched)">
        Valid email is required.
      </ng-container>
      <ng-container *ngIf="(euResident.invalid && euResident.touched)">
        Please select if you are EU resident.
      </ng-container>
      <ng-container *ngIf="(!advancesCheckbox && !alertsCheckbox && !otherCheckbox)">
        Please check one topic to subscribe.
      </ng-container>
    </p>
    <!-- FIRST NAME INPUT -->
    <div class="input-container">
      <p>FIRST NAME*</p>
      <input class="text" formControlName="firstName"
      [ngClass]="{'error': (firstName.invalid && firstName.touched)}">
    </div>
    <!-- LAST NAME INPUT -->
    <div class="input-container">
      <p>LAST NAME*</p>
      <input class="text" formControlName="lastName"
        [ngClass]="{'error': (lastName.invalid && lastName.touched)}">
    </div>
    <!-- EMAIL NAME INPUT -->
    <div class="input-container">
      <p>EMAIL ADDRESS*</p>
      <input class="text" formControlName="email"
        [ngClass]="{'error': (email.invalid && email.touched)}">
    </div>
    <!-- ORGANIZATION NAME INPUT -->
    <div class="input-container">
      <p>ORGANIZATION</p>
      <input class="text" formControlName="organization">
    </div>
    <!-- EU RESIDENT INPUT -->
    <div class="input-container select">
      <p>EU RESIDENT*</p>
      <ng-select 
        bindLabel="label" 
        placeholder="- SELECT ONE -"
        [items]="selectOptions"
        [clearable]="false"
        [searchable]="false"
        formControlName="euResident"
        [ngClass]="{'error': (euResident.invalid && euResident.touched)}"
        >
      </ng-select>
    </div>
  </form>
  <!-- SUBSCRIPTIONS TOPICS CHECKBOXES -->
  <div class="checkboxes-container">
    <div class="input-container checkbox">
      <label><input type="checkbox" id="cbox1" 
        [(ngModel)]="advancesCheckbox"
        value="advances">ADVANCES</label><br>
    </div>
    <div class="input-container checkbox">
      <label><input type="checkbox" id="cbox2" 
        [(ngModel)]="alertsCheckbox"
        value="advances">ALERTS</label><br>
    </div>
    <div class="input-container checkbox">
      <label><input type="checkbox" id="cbox3"
        [(ngModel)]="otherCheckbox" value="advances">OTHER COMMUNICATIONS</label><br>
    </div>
  </div>
  <!-- BUTTONS -->
  <div class="buttons-container">
    <button class="primary" (click)="onSubmit()">
      SUBMIT
    </button>
    <button (click)="resetForms()">RESET</button>
  </div>
</div>
<div class="component-container" *ngIf="subscriptionSucceed">
  <h1>Excellent! You have subscribed to our mailings!</h1>
</div>
