<div class="component-container">
  <h2>Sign up for email updates</h2>
  <p class="subheadline">*Indicates Required Field</p>
  <form>
    <p class="error-message">Need assistance?</p>
    <p class="error-test">backogrund error test</p>
    <!-- FIRST NAME -->
    <div class="input-container">
      <p>FIRST NAME</p>
      <input class="text">
    </div>
    <!-- LAST NAME -->
    <div class="input-container">
      <p>LAST NAME</p>
      <input class="text">
    </div>
    <!-- EMAIL NAME -->
    <div class="input-container">
      <p>EMAIL ADDRESS</p>
      <input class="text">
    </div>
    <!-- ORGANIZATION NAME -->
    <div class="input-container">
      <p>ORGANIZATION</p>
      <input class="text">
    </div>
    <!-- EU RESIDENT -->
    <div class="input-container select">
      <select>     
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <!-- SUBSCRIPTION TOPICS -->
    <div class="input-container">
      <label><input type="checkbox" id="cbox1" value="advances">ADVANCES</label><br>
    </div>
    <div class="input-container">
      <label><input type="checkbox" id="cbox2" value="advances">ALERTS</label><br>
    </div>
    <div class="input-container">
      <label><input type="checkbox" id="cbox3" value="advances">OTHER COMMUNICATIONS</label><br>
    </div>
  </form>
</div>
