
div.content {
  // background: url(../assets/texture.png) repeat;
  background: url(../assets/texture-cropped.png) repeat;
  height: 100%;

  .tester-container {
    background-color: #00ff0023;
    
  }
}

